{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "CLIENT_ID": "cc64b230-1e3b-49e3-9a1e-4bb95b55ddb0",
    "CLIENT_SECRET": "your-client-secret-here",
    "TENANT_ID": "e621abc4-3baa-4b93-badc-3b99e8609963",
    "API_SCOPE": "api://green-rock-024c27f1e.1.azurestaticapps.net/cc64b230-1e3b-49e3-9a1e-4bb95b55ddb0/.default"
  },
  "Host": {
    "CORS": "https://green-rock-024c27f1e.1.azurestaticapps.net",
    "CORSCredentials": false
  }
}